<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SNVPME.DatabaseMigration.MigrationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ScriptieWeb.DatabaseMigration.MigrationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
      <add name="ScriptieWeb.DatabaseMigration.MigrationSettings.TEST"
          connectionString="Server=hr-mysql.czrtfvxv2bg3.eu-west-1.rds.amazonaws.com;Database=scriptieweb_dev;UID=root;Password=L05QtoiCtYDXjTcp;Encrypt=true;" />
      <add name="ScriptieWeb.DatabaseMigration.MigrationSettings.QA"
          connectionString="Server=hr-mysql.czrtfvxv2bg3.eu-west-1.rds.amazonaws.com;Database=scriptieweb_qa;UID=root;Password=L05QtoiCtYDXjTcp;Encrypt=true;" />
      <add name="ScriptieWeb.DatabaseMigration.MigrationSettings.PROD"
          connectionString="Server=hr-mysql.czrtfvxv2bg3.eu-west-1.rds.amazonaws.com;Database=scriptieweb_prod;UID=root;Password=L05QtoiCtYDXjTcp;Encrypt=true;" />
      <add name="SNVPME.DatabaseMigration.MigrationSettings.DEBUG"
          connectionString="Data Source=..\..\..\Web\App_Data\PMEData.sdf" />
      <add name="SNVPME.DatabaseMigration.MigrationSettings.USERACCEPTANCE"
          connectionString="Data Source=merengue\sqlua01;Initial Catalog=PMEDataUA;Integrated Security=True" />
      <add name="SNVPME.DatabaseMigration.MigrationSettings.PRODUCTION"
          connectionString="Data Source=highlife;Initial Catalog=PME;Integrated Security=True" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <applicationSettings>
    <SNVPME.DatabaseMigration.MigrationSettings>
        <setting name="Provider" serializeAs="String">
            <value>SqlServer</value>
        </setting>
    </SNVPME.DatabaseMigration.MigrationSettings>
    <ScriptieWeb.DatabaseMigration.MigrationSettings>
      <setting name="Provider" serializeAs="String">
        <value>Mysql</value>
      </setting>
    </ScriptieWeb.DatabaseMigration.MigrationSettings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.4.4.0" newVersion="6.4.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>